@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "variables";

body {
    font-family: "Raleway";
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #10b981;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #059668;
}

.dp__theme_light {
    --dp-primary-color: #10b981 !important;
}

.dp__today,
.dp__active_date {
    border-radius: 18px !important;
}

.dp__calendar_header_separator {
    display: none;
}

.dp__menu {
    border-radius: 12px !important;
    border: none !important;
    padding: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.57);
}

.dp__inner_nav {
    color: white !important;
    background-color: #10b981;
}

.dp__calendar_header {
    color: #10b981 !important;
}

.dp__action_buttons .dp__action_select,
.dp__action_cancel {
    padding: 12px !important;
}
